<h3>YOUR RATINGS</h3>

<strong>Specificity:</strong> <%= score.specific %><br>
<strong>Actionability:</strong> <%= score.actionable %><br>
<strong>Kindness:</strong> <%= score.kind %>

<hr class="separator">
